#lobby-card {
  border: solid black 1px;
  text-align: center;
}

#start {
  border-radius: 15%;
  margin-bottom: 20px;
  height: 50px;
  width: 175px;
  background-color: springgreen;
}

.question-display {
  border: solid black 1px;
}

.question {
  text-align: center;
}

.wrong-answer {
  border-radius: 15%;
  margin-bottom: 20px;
  height: 50px;
  width: 250px;
  display: flex;
  background-color: red;
  justify-content: center;
  margin-left: 80px;
}

.correct-answer {
  border-radius: 15%;
  margin-bottom: 20px;
  height: 50px;
  width: 250px;
  display: flex;
  background-color: green;
  justify-content: center;
  margin-left: 80px;
}

.answers {
  border-radius: 15%;
  margin-bottom: 20px;
  height: 50px;
  width: 250px;
  background-color: springgreen;
  display: flex;
  justify-content: center;
  margin-left: 80px;
}

.submit-button {
  border-radius: 15%;
  margin-bottom: 20px;
  height: 50px;
  width: 250px;
  background-color: cyan;
  display: flex;
  justify-content: center;
  margin-left: 80px;
}
